body {
    font-size: 30px;
    text-align: center;
}

.playground table {
    margin: 20px auto;
}

.playground table tr {
    
}

.playground table tr td {
    border: 1px solid gray;
    width: 25px;
    height: 25px;
}

.tree {
    background: lightgreen;
}

.square {
    background: skyblue;
}

.bar {
    background: salmon;
}

.zee {
    background: blue;
}

.elLeft {
    background: violet;
}

.elRight {
    background: tomato;
}

.seized {
    background: red;
}