body {
    font-size: 30px;
    text-align: center;
}

.wrapper {
    
}

.gamestart {
    background: #fff;
    background-image: url("../img/TETRIS_background_IMG.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gamestart h1 {
    background: #fff;
    border: 4px solid green;
    border-radius: 10px;
    padding: 20px;
}

.gamestart h1 span:nth-child(1) {
    color: red;
}
.gamestart h1 span:nth-child(2) {
    color: orange;
}
.gamestart h1 span:nth-child(3) {
    color: yellowgreen;
}
.gamestart h1 span:nth-child(4) {
    color: green;
}
.gamestart h1 span:nth-child(5) {
    color: blue;
}
.gamestart h1 span:nth-child(6) {
    color: violet;
}

.gamestart button {
    margin-top: 50px;
    padding: 20px 40px;
    border: 3px solid blue;
    border-radius: 10px;
    background: skyblue;
    font-size: 20px;
    cursor: pointer;
}

.gameover {
    background: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.gameover .gameover-modal {
    width: 300px;
    padding: 50px 30px;
    background: #fff;
    border-radius: 5px;
}

.gameover .gameover-modal .gameover-text {
    padding-bottom: 30px;
}

.gameover .gameover-modal .finalScore {
    margin-top: 30px;
    color: tomato;
}

.gameover .gameover-modal .finalScoreValue {
    padding: 20px 50px 50px;
    color: tomato;
}

.gameover .gameover-modal .restart {
    padding: 5px 10px;
    color: #fff;
    font-size: 20px;
    background: salmon;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.playground table {
    margin: 20px auto;
}

.playground table tr {
    
}

.playground table tr td {
    border: 1px solid gray;
    width: 25px;
    height: 25px;
}

.virtual {
    background: rgba(200, 0, 0, 0.1);
}

.tree {
    background: lightgreen;
}

.square {
    background: skyblue;
}

.bar {
    background: salmon;
}

.zee {
    background: blue;
}

.invertedZee {
    background: brown;
}

.el {
    background: violet;
}

.invertedEl {
    background: tomato;
}

/* .seized {
    background: red;
} */